{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <head>

        <title>About</title>

        <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->

        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->

    </head>


    <body>
      {% if visits %}
        <h1>number of visits: {{ visits }}</h1>
      {% endif %}
        <img src="{% static "images/das.jpg" %}" alt=“this “thing” /> <!-- Images -->

    </body>

{% endblock %}
